<div class="main-area">
    <div class="content-area">
      <div class="header">
        <h1>Banking Management</h1>
        <hr />
      </div>
      <div class="container">
        <div class="form-area">
          <h3>Signup Form</h3>
          <form>
            <label>Acc. Number</label>
            <input type="text" name="accno" ngModel  required/>
            <label>First Name</label>
            <input type="text" name="fname" ngModel required />
            <label>Last Name</label>
            <input type="text" name="lname" ngModel required />
            <label>Dob</label>
            <input type="text" name="dob" ngModel  required/>
            <input type="submit" value="Signup" />
            <input type="submit" routerLink="/login" value="Login" />
          </form>
        </div>
      </div>
    </div>
  </div>