<div class="home-container">
    <h1>Welcome to our Banking System</h1>
    <p>We offer a range of banking products and services to meet your needs. Login to your account or create a new account today.</p>
    <div class="cta-buttons">
      <!-- <a routerLink="/login" class="login-button">Login</a>
      <a routerLink="/register" class="register-button">Register</a> -->
      <!-- <a routerLink="/signup"> <button mat-button  class="login-button">Signup</button></a>
      <a routerLink="/login"> <button mat-button  class="login-button">Login</button></a>
      <a routerLink="/transaction"> <button mat-button  class="login-button">Transactions</button></a>
      <a routerLink="/about"><button mat-button  class="login-button">About</button></a>
      <a routerLink="/contact"> <button mat-button  class="login-button">Contact</button></a> -->

      <a routerLink="/signup"  class="login-button">Signup</a>
      <a routerLink="/login" class="login-button">Login</a>
      <a routerLink="/transaction"  class="login-button">Transactions</a>
      <a routerLink="/about" class="login-button">About</a>
      <a routerLink="/contact"  class="login-button">Contact</a>
    </div>
  </div>
  

